
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');

:root {
    --primary-color:red;
    --secondary-color:green;
}
body{
    font-family: 'Ubuntu', sans-serif;
}

h1{
    color:var(--primary-color);
}

h2{
    color:var(--secondary-color);
}
.primary{
    color:var(--primary-color);
}
.secondary{
    color:var(--secondary-color);
}